 
  /* Header */
  .header {
    margin: 10em 0 0 0;
  }
  
  .header .title {
    font-size: 7em;
  }
  
  .header .subtitle {
    margin: 1em 0 0 0;
    font-size: 2.2em;
  }
  
  .header .caption {
    margin: 5em 0 10em 0;
    font-size: 1.4em;
  }
  
  .caption {
    font-size: 0.9em;
    line-height: 150%;
  }
  
  /* Content */
  .content-v {
    margin: 20em 0 0 0;
  }
  
  .content-h {
    margin: 10em 0 0 0;
  }
  
  .r90 {
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }
  /* Tujuan Content */
  
  .tujuan .caption {
    margin: 15em 0 0 0;
    width: 90%;
  }
  
  .tujuan .space {
    margin: 9vh;
  }
  
  #TujuanImg {
    position: absolute;
    top: -9em;
    right: 1em;
    content: "";
    width: 240px;
    height: 320px;
    background-color: #ececec;
  }
  
  /* Sejarah Content */
  
  .sejarah .caption {
    margin: 15em 0 0 0;
    width: 95%;
  }
  
  .sejarah .space {
    margin: 9vh;
  }
  
  #SejarahImg {
    position: absolute;
    top: -10em;
    right: 1em;
    content: "";
    width: 240px;
    height: 320px;
    background-color: #ececec;
  }
  
  /* Maskot Content */
  
  .maskot .caption {
    margin: 3em 0 0 0;
    width: 90%;
  }
  
  .maskot-video {
    margin: 3em 0 0 0;
    content: "";
    height: 240px;
    width: 100%;
    background-color: #ececec;
  }
  .maskot .space {
    margin: 9vh;
  }
  
  #MaskotImg {
    content: "";
    width: 240px;
    height: 320px;
    background-color: #ececec;
  }
  
  /* Dukungan Content */
  
  .dukungan .caption {
    margin: 3em 0 0 0;
    width: 95%;
  }
  
  .dukungan .space {
    margin: 9vh;
  }
  
  #DukunganImg {
    margin: 4em 0 0 0;
    content: "";
    width: 240px;
    height: 320px;
    background-color: #ececec;
  }
  
  /* Hall Of Fame Content */
  
  .halloffame .caption {
    margin: 8em 0 0 0;
    width: 95%;
  }
  
  .halloffame .space {
    margin: 9vh;
  }
  
  #HallImg {
    position: absolute;
    top: -16em;
    right: 1em;
    content: "";
    width: 240px;
    height: 320px;
    background-color: #ececec;
  }
  
  .trophyToHall {
    margin: 8em 0 8em 0;
  }
