
    .formheader p {
        width: 80%;
    }


@media (min-width: 992px) {
    .formheader p {
        width: 90%;
    }

    .formheader h1 {
        font-size: 4vw;
    }
}  


@media (min-width: 1200px) {
    .formheader p {
        width: 70%;
    }

    .formheader h1 {
        font-size: 3vw;
    }
}  