* {
    font-family: "Raleway";
  }
  
  body {
    overflow-x: hidden;
  }
  
  .mobile-screen {
    display: block;
  }
  
  .thin {
    font-weight: 300;
  }

  .regular {
    font-weight: 400;
  }
  
  .medium {
    font-weight: 500;
  }
  
  .semibold {
    font-weight: 600;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .extrabold {
    font-weight: 800;
    letter-spacing: 0.05em;
  }
  
  .hide {
    display: none;
  }

  /* Menu when viewport on mobile device */
.menublock {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
}

.menutitle {
  margin: 2em 0 0 0 ;
  letter-spacing: 0.05em;
  font-size: 12vw;
}

.closebtn {
  width: 100%;
  height: auto;
  margin: 2em 0 0 0;
}

.closeMe {
  background-image: url("../assets/cancel.svg");
  height: 32px;
  width: 32px;
  /* background-color: greenyellow; */
}

.burgericon {
  position: relative;
  height: auto;
  width: auto;
  top: -8px;
}

#rectangle1 {
  height: 4px;
  width: 32px;
  background-color: #1a1a1a;
  position: absolute;
  right: 0px;
  top: 0px;
}

#rectangle2 {
  height: 4px;
  width: 24px;
  background-color: #1a1a1a;
  position: absolute;
  right: 0px;
  top: 8px;
}

#rectangle3 {
  height: 4px;
  width: 16px;
  background-color: #1a1a1a;
  position: absolute;
  right: 0px;
  top: 16px;
}

.footer {
  background-color: #1a1a1a;
  color: #ffffff;
}

.footer a{
  color: white;
}

.menulink{
  margin: 4em 0 0 0;
}

.menulink a{
  padding: .5rem 0;
  font-size: 8vw;
  color: #FFFFFF;
}


/* Forms */
